// Couleurs 

$primary: #50e3c2;
$secondary: #4488ff;

// Contenu principal

html,
body {
    font-family: Helvetica;
    width: 100%;
    margin: 0;
    display: flex;

    @media screen and (max-width: 740px) {
        background-image: url("../img/background-mobile.svg");
        background-size: cover;
        background-repeat: no-repeat;
    }
}

a, button, input {
    outline: none;
}

// MENU, NAVBAR

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px;
    transition: all 1s;

    .logo {
        width: 40px;
        height: 40px;
    }

    #items-menu {
        display: none;
        box-shadow: 0px 55px 66px 0px #ececec8f;
        transition: all 1s;
        animation: menu 1s;

        @keyframes menu {
            0% {
                opacity: 0;
            }

            100% {
                opacity: 1;
            }
        }
    }

    .menu {
        z-index: 2;
        ul,
        li {
            display: flex;
            justify-content: space-evenly;
            align-items: center;

            a {
                width: 100px;
                height: 26px;
                text-align: center;
                color: black;
                text-decoration: none;

                &:hover {
                    color: $secondary;
                }

                @media screen and (max-width: 580px) {
                    margin: 0 0 20px 0;
                }
            }

            .active {
                color: $secondary;
                border-bottom: 2px solid $secondary;
            }
        }

        @media screen and (max-width: 580px) {
            position: fixed;
            top: 74px;
            left: -36px;
            width: 111%;
            margin: 0;
        }
    }

    #icon {
        display: none;
        color: #616f90;
        font-size: 28px;
        transition: all 0.5s;
    }
}

// Image en arriere plan ( hamster )

.background-image {
    width: 100%;
    height: 100vh;
    background-image: url("../img/ricky.jpg");
    background-position: center;
    background-size: cover;
    z-index: -2;

    @media screen and (max-width: 740px) {
        display: none;
    }
}

// Contenu de la page d'accueil

.page {
    width: 100%;
    height: 100%;

    .container {
        width: 100%;
        height: 80vh;
        display: flex;
        align-items: center;
        flex-wrap: nowrap;
        justify-content: center;
        padding: 0 0 0 40px;

        h1 {
            font-size: 60px;
            font-weight: bold;
            text-transform: uppercase;
            margin: 0;

            @media screen and (max-width: 740px) {
                font-size: 45px;
                text-align: center;
            }
        }

        .text {
            font-size: 14px;
            color: grey;
            margin: 0;


            @media screen and (max-width: 740px) {
                text-align: center;
            }
        }

        #form {
            margin: 80px 0 20px 0;
            display: flex;
            flex-wrap: nowrap;
            align-items: center;

            @media screen and (max-width: 740px) {
                flex-direction: column;
            }
        }

        input {
            font-size: 15px;
            width: 500px;
            height: 60px;
            background-color: white;
            color: grey;
            border: none;
            border-radius: 50px;
            box-shadow: 3px 3px 45px 8px #80808048;
            padding: 0 100px 0 60px;

            @media screen and (max-width: 740px) {
                width: 105%;
                padding: 0 20px 0 60px;
            }
        }

        button {
            width: 160px;
            height: 50px;
            background-color: $primary;
            color: white;
            border: 2px solid $primary;
            border-radius: 50px;
            margin: 0 -98px;
            transition: all 0.5s;

            &:hover {
                background-color: white;
                border: 2px solid #bfc3cf;
                color: #bfc3cf;
            }

            @media screen and (max-width: 740px) {
                margin: 40px 0 0 0;
                height: 46px;
            }

        }

        #error {
            text-align: center;
            color: #ff5858;
        }

        .info {
            display: block;
            font-style: italic;
            text-align: center;
            color: #c2c6d2;
            text-decoration: none;
            margin: 70px 0 0 0;
        }

        .sign-in {
            margin: 0 -40px 0 20px;
            z-index: 1;
            color: #bfc3cf;

            @media screen and (max-width: 740px) {
                margin: 0 92% -38px 20px;
            }
        }

        @media screen and (max-width: 740px) {
            padding: 0;
        }
    }
}