html,
body {
  font-family: Helvetica;
  width: 100%;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 740px) {
  html,
  body {
    background-image: url("../img/background-mobile.svg");
    background-size: cover;
    background-repeat: no-repeat;
  }
}

a, button {
  outline: none;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 25px;
  -webkit-transition: all 1s;
  transition: all 1s;
}

nav .logo {
  width: 40px;
  height: 40px;
}

nav #items-menu {
  display: none;
  -webkit-box-shadow: 0px 55px 66px 0px #ececec8f;
          box-shadow: 0px 55px 66px 0px #ececec8f;
  -webkit-transition: all 1s;
  transition: all 1s;
  -webkit-animation: menu 1s;
          animation: menu 1s;
}

@-webkit-keyframes menu {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes menu {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

nav .menu {
  z-index: 2;
}

nav .menu ul,
nav .menu li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav .menu ul a,
nav .menu li a {
  width: 100px;
  height: 26px;
  text-align: center;
  color: black;
  text-decoration: none;
}

nav .menu ul a:hover,
nav .menu li a:hover {
  color: #4488ff;
}

@media screen and (max-width: 580px) {
  nav .menu ul a,
  nav .menu li a {
    margin: 0 0 20px 0;
  }
}

nav .menu ul .active,
nav .menu li .active {
  color: #4488ff;
  border-bottom: 2px solid #4488ff;
}

@media screen and (max-width: 580px) {
  nav .menu {
    position: fixed;
    top: 74px;
    left: -36px;
    width: 111%;
    margin: 0;
  }
}

nav #icon {
  display: none;
  color: #616f90;
  font-size: 28px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.background-image {
  width: 100%;
  height: 100vh;
  background-image: url("../img/ricky.jpg");
  background-position: center;
  background-size: cover;
  z-index: -2;
}

@media screen and (max-width: 740px) {
  .background-image {
    display: none;
  }
}

.page {
  width: 600px;
  height: 100%;
}

.page .container {
  width: 100%;
  height: 80vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 0 0 40px;
}

.page .container h1 {
  font-size: 60px;
  font-weight: bold;
  text-transform: uppercase;
  margin: 0;
}

@media screen and (max-width: 740px) {
  .page .container h1 {
    font-size: 45px;
    text-align: center;
  }
}

.page .container .text {
  font-size: 14px;
  color: grey;
  margin: 0;
}

@media screen and (max-width: 740px) {
  .page .container .text {
    text-align: center;
  }
}

.page .container #form {
  margin: 80px 0 20px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 740px) {
  .page .container #form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.page .container input {
  font-size: 15px;
  width: 500px;
  height: 60px;
  background-color: white;
  color: grey;
  border: none;
  border-radius: 50px;
  -webkit-box-shadow: 3px 3px 45px 8px #80808048;
          box-shadow: 3px 3px 45px 8px #80808048;
  padding: 0 100px 0 60px;
}

@media screen and (max-width: 740px) {
  .page .container input {
    width: 105%;
    padding: 0 20px 0 60px;
  }
}

.page .container button {
  width: 160px;
  height: 50px;
  background-color: #50e3c2;
  color: white;
  border: 2px solid #50e3c2;
  border-radius: 50px;
  margin: 0 -98px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.page .container button:hover {
  background-color: white;
  border: 2px solid grey;
  color: grey;
}

@media screen and (max-width: 740px) {
  .page .container button {
    margin: 40px 0 0 0;
    height: 46px;
  }
}

.page .container #error {
  text-align: center;
}

.page .container .info {
  display: block;
  font-style: italic;
  text-align: center;
  color: #c2c6d2;
  text-decoration: none;
  margin: 70px 0 0 0;
}

.page .container .sign-in {
  margin: 0 -40px 0 20px;
  z-index: 1;
  color: #bfc3cf;
}

@media screen and (max-width: 740px) {
  .page .container .sign-in {
    margin: 0 92% -38px 20px;
  }
}

@media screen and (max-width: 740px) {
  .page .container {
    padding: 0;
  }
}
/*# sourceMappingURL=styles.css.map */